*{
    box-sizing: border-box;
    font-family:仿宋 ;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../IMG/Green\ and\ Blue.jpg);
}
header{
    margin: 0 auto;
    background-color: rgba(2, 105, 100, 0.5);
    color: white;
}
header h1{
    margin: 25px 25px 25px 25px auto;
}
header div{
    /* width: 1200px; */
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    height: 100%;
}
.first{
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.first li{
    display: inline-block;
    list-style: none;
    height: 100%;
    padding: 0 10px;
    text-align: center;
    transition: background-color 0.5s linear;
}
.first li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}
.first li :hover{
    color:rgb(5, 150, 82) ;
}
.second{
    background-color: rgba(2, 105, 100, 0.5);
    position: absolute;
    width: 120px;
    padding: 0;
    opacity: 0;
    transition: transform 1s linear,opacity 1s ease-in-out;
    z-index: 999;
}
.second li{
    display: block;
    height: 20px;
    line-height: 20px;
    width: 100%;
}
.first li:hover .second{
    opacity: 1;
    transform: translateY(10px);
    background-color: rgba(2, 105, 100, 0.5);
}
.second li:hover{
    color: turquoise;
    background-color: #a0b9c9;
}
.second::before{
    content: "";
    border-color: transparent transparent rgba(2, 105, 100, 0.5) transparent; 
    border-width: 8px;
    position: absolute;
    bottom: 100%;
    left: 20%;
    border-style: solid;
}
footer{
    background-color:rgba(2, 105, 100, 0.5) ;
    color: white;
}
footer div{
    /* width: 1400px; */
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div p{
    text-align: center;
}