*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgba(239, 232, 213, 0.7);
    /* position: sticky;
    top: 0px; */
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    z-index: 9999;
    display: flex;
    box-shadow: 0px -5px 15px rgba(239, 232, 213, 0.7) ;
}
#input{
    display: flex;
    width: 20%;
    height: 100%;
    margin: 0 0 auto;
    padding: 4px;
}
#input input{
    width: 70%;
    height: 30px;
    line-height: 30px;
    margin: 2px auto;
    border-radius: 20px;
}
button{
    width: 20%;
    margin: 2px auto;
    border-radius: 20px;
    background-color: rgba(143, 77, 38, 0.7);
    color: white;
}
#all{
    margin: 0 auto;
    padding: 2px ;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(252, 221, 121); */
    width: 60%;
    border-radius: 5px;
}
#all a{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(143, 77, 38);
}
#all a:hover{
    transform: scale(1.1);
}
#all div{
    width: 20%;
}
#all span{
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../IMG/orangenav.png) ;
    background-repeat: no-repeat;
    background-size: 480px 450px;
}
#all div #nav1{
    background-position: 0 -210px;
}
#all div #nav2{
    background-position: -420px -210px;
}
#all div #nav3{
    background-position: -60px -180px;
}
#all div #nav4{
    background-position: -240px -180px;
}
#all div #nav5{
    background-position: -270px -180px;
}
#theme{
    width: 20%;
}
#theme span{
    width: 100%;
    margin: 10px auto;
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../IMG/orangenav.png) no-repeat;
    background-size: 480px 450px;
    background-position: -240px -240px;
    /* background-color:rgba(160, 238, 225, 0.623); */
}
#theme a{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
#theme a:hover{
    transform: scale(1.1);
}
main{
    display: flex;
    width: 100%;
}
#left,#right{
    margin: 5px auto;
    border-radius: 5px;
    width: 15%;
    background-color: rgba(245, 222, 179, 0.7);
    height: 500px;
}
#middle{
    width: 69%;
    height: 100%;
    margin: 5px auto;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.7)
}
#middle h1{
    color: rgb(165, 84, 26);
    font-family: 仿宋;
    font-size: xx-large;
    margin: 5px 0 10px 0;
}
#left h3,#right h3{
    color: rgb(165, 84, 26);
    font-family: 仿宋;
    margin: 5px 0 10px 0;
}
#left div div{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    height: 80px;
    line-height: 80px;
}
#right div div{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    height: 40px;
    line-height: 40px;
}
#left a,#right a{
    text-decoration: none;
    display: flex;
    color: rgb(143, 77, 38);
    text-align: center;
    margin: 2px 2px auto;
}
#left a:hover,#right a:hover{
    background-color:rgba(245, 222, 179, 0.7) ;
}
#left p,#right p{
    display: block;
    width: 80%;
}
#left span,#right span{
    margin: auto auto auto 5px;
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../IMG/hot.png) ;
    background-repeat: no-repeat;
    background-size: 30px auto;
    border-radius: 30px;
}
#left div #l1{
    background-position: 0 -5px;
}
#left div #l2{
    background-position: 0 -48px;
}
#left div #l3{
    background-position: 0 -91px;
}
#left div #l4{
    background-position: 0 -132px;
}
#left div #l5{
    background-position: 0 -176px;
}
#right div #r1{
    background-position: 0 -5px;
}
#right div #r2{
    background-position: 0 -48px;
}
#right div #r3{
    background-position: 0 -91px;
}
#right div #r4{
    background-position: 0 -132px;
}
#right div #r5{
    background-position: 0 -176px;
}
#right div #r6{
    background-position: 0 -218px;
}
#right div #r7{
    background-position: 0 -260px;
}
#right div #r8{
    background-position: 0 -303px;
}
#right div #r9{
    background-position: 0 -345px;
}
#right div #r10{
    background-position: 0 -388px;
}