.data{
    width: 95%;
    background-color: white;
    border-radius: 5px;
    border: solid 0.2em rgb(143, 77, 38);
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.data div{
    display: flex;
}
.data .user{
    margin: 5px auto 5px 10px;
}
.user img{
    border-radius: 40px;
}
.user p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin: 0 auto 0 10px;
}
.data .time{
    margin: 5px auto 5px 10px;
    font-size: small;
    color: rgb(170, 169, 169);
}
.data .point{
    width: 100%;
}
.data .point div{
    width: 33%;
    margin: 0 auto;
    border: solid 0.1em rgb(143, 77, 38);
    border-radius: 5px;
}
.data .point span{
    padding: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../IMG/orangenav.png) ;
    background-repeat: no-repeat;
    background-size: 320px 300px;
}
.data .point p{
    width: 50%;
    text-align: center;
}
.data .point .p1{
    background-position: -200px -140px;
}
.data .point .p2{
    background-position: -160px -120px;
}
.data .point .p3{
    background-position: -260px -140px;
}