#left ul{
    border-radius: 5px;
}
#left ul li{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    height: 40px;
    line-height: 40px;
}
#left ul li a{
    text-decoration: none;
    display: block;
    color: rgb(143, 77, 38);
    text-align: center;
    /* margin: 2px 2px auto; */
}
#left ul li a:hover{
    background-color:rgba(245, 222, 179, 0.7) ;
}