#platemsg{
    width: 95%;
    background-color: white;
    border-radius: 5px;
    border: dashed 0.2em rgb(143, 77, 38);
    margin: 10px auto;
    padding: 5px;
    display: flex;
}
#platemsg div{
    display: flex;
    flex-direction: column;
}
#platemsg .platemsg{
    width: 80%;
}
#platemsg .point{
    width: 20%;
    height: 100%;
    margin: auto 0 auto 0 ;
    border: double 0.1em rgb(143, 77, 38);
}
#platemsg .user{
    margin: 5px auto 5px 10px;
    display: flex;
    flex-direction: row;
}
#platemsg a{
    text-decoration: none;
    color: rgb(143, 77, 38);
}
#platemsg h2{
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: block;
    margin: 0 auto 0 10px;
}
#platemsg .time{
    margin: 5px auto 5px 10px;
    font-size: small;
    color: rgb(170, 169, 169);
}
#platemsg .point div{
    height: 50px;
    line-height: 50px;
    width: 100%;
    /* border: solid 0.1em rgb(143, 77, 38); */
    margin: 5px auto;
    display: flex;
    flex-direction: row;
}
#platemsg .point span{
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px auto 10px auto;
    background: url(../IMG/orangenav.png) ;
    background-repeat: no-repeat;
    background-size: 480px 450px;
}
#platemsg .point p{
    width: 50%;
    text-align: center;
}
#platemsg .point .p1{
    background-position: -270px -180px;
}
#platemsg .point .p2{
    background-position: -240px -180px;
}
#platemsg .point .submit{
    width: 70%;
    background-color: rgb(143, 77, 38);
    color: white;
    height: 20px;
    border-radius: 3px;
}
.data{
    width: 95%;
    background-color: white;
    border-radius: 5px;
    border: solid 0.2em rgb(143, 77, 38);
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.data div{
    display: flex;
}
.data .user{
    margin: 5px auto 5px 10px;
}
.data .user img{
    border-radius: 40px;
}
.user p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin: 0 auto 0 10px;
}
.data h4{
    margin: 5px auto 5px 10px;
    font-family: 仿宋;
    font-weight: 1000;
}
.data .content{
    display: block;
    margin: 5px auto 5px 10px;
    color: rgb(170, 169, 169);
}
.data .time{
    margin: 5px 10px 5px auto;
    font-size: small;
    color: rgb(170, 169, 169);
}
.data .point{
    width: 100%;
}
.data .point div{
    width: 33%;
    margin: 0 auto;
    border: solid 0.1em rgb(143, 77, 38);
    border-radius: 5px;
}
.data .point span{
    padding: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../IMG/orangenav.png) ;
    background-repeat: no-repeat;
    background-size: 320px 300px;
}
.data .point p{
    width: 50%;
    text-align: center;
}
.data .point .p1{
    background-position: -200px -140px;
}
.data .point .p2{
    background-position: -160px -120px;
}
.data .point .p3{
    background-position: -260px -140px;
}
.data .user .plate{
    text-decoration: none;
    color:rgb(143, 77, 38) ;
}
/* 分页页码框 */
#pager{
    display: flex;
    justify-content: center;
}
#pager div{
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}
div.selected{
    background-color: rgb(143, 77, 38);
    color: white;
}
div.omit{
    color: #999;
}