#left ul{
    border-radius: 5px;
}
#left ul li{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    height: 40px;
    line-height: 40px;
}
#left ul li a{
    text-decoration: none;
    display: block;
    color: rgb(143, 77, 38);
    text-align: center;
    /* margin: 2px 2px auto; */
}
#left ul li a:hover{
    background-color:rgba(245, 222, 179, 0.7) ;
}
form{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form div{
    display: flex;
    align-items:center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}
#show img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
.file{
    display: flex;
    flex-direction: column;
}
.file label{
    display: block;
    margin: 0 auto 0 5%;
}
.input label{
    display: block;
    margin: 0 auto 0 5%;
}
input{
    display: block; 
    text-align: left;
    margin: 10px;
    width: 70%;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
	border-bottom: solid rgba(0, 0, 0, 0.65);
	border-width: 0.1em;
}
.input{
    height: 15%;
}
.submit{
    width: 20%;
    text-align: center;
    margin: 20px auto;
    height: 25px;
    background-color: rgba(143, 77, 38, 0.7);
    color: white;
    border-radius: 5px;
}
.submit:hover{
	background-color: rgb(143, 77, 38);
}
.form{
    /* height: 400px; */
    display: flex;
}
.tip{
	font-size: small;
    color: rgb(165, 84, 26);
}
#tip-pass{
    color: rgb(214, 72, 72);
}
.sex label{
    width: 25%;
}
.sex input{
    width: 15px;
    height: 15px;
}
.sex input:checked{
    background-color:rgb(143, 77, 38) ;
}
#birthday{
    padding: 3px;
}
#signature{
    width: 300px;
    height: 100px;
    resize: none;
    margin: 0 auto 0 0 ;
    padding: 5px;
}